body {
    background-color: #FFFFFF;
}

.header {
    background: #5E5452 ;
}

.header__content {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 1.2rem 0;
}

.header__title, h1 {
    color: white;
    text-decoration: none;
    margin: 0;
}

.content-container {
    margin: 0 auto;
    padding: 0 1.6rem;
    max-width: 80rem;
}
.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: #2196F3;
    padding: 10px;
  }
  .grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
  }