{
  "env": {
    "node": true,
    "browser": true,
    "es6": true
  },
  "globals": {
    "exampleGlobalVariable": true
  },
  "rules": {
    "eqeqeq": "error",
    "semi": [2, "never"]
  },
  "plugins": ["prettier"],
  "parserOptions": {
    "ecmaVersion": 11,
    "sourceType": "module"
  }
}
